<!-- APP NAVBAR -->
<app-navbar></app-navbar>
<!-- END APP NAVBAR -->
<div class="row">
  <div class="col-lg-3 col-med-12 col-sm-12">
    HELLO WORLD
  </div>

  <div class="col-lg-9 col-med-12 col-sm-12">
    <div>
      <all-products-section></all-products-section>
    </div>
    <div class="featured-section">
      <featured-products-section></featured-products-section>
    </div>
    <div class="best-deals-section">
      <best-deals-products-section></best-deals-products-section>
    </div>
  </div>
</div>
