<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" 
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Products</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Deals</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!loggedIn()" class="nav-item">
        <button mat-button (click)="loginModal()">Login</button>
      </li>
      <button *ngIf="loggedIn()" mat-button [matMenuTriggerFor]="beforeMenu">
        Profile
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>Purchase history</button>
          <button mat-menu-item>Profile information</button>
          <button *ngIf="loggedIn()" (click)="logOut()" mat-menu-item>Log out</button>
        </ng-template>
      </mat-menu>
      
      <li class="nav-item">
        <a  class="nav-link cart" href="#"><span class="fa fa-shopping-cart fa-2x" style="font-size: 23px; "></span><span matBadge="4" matBadgeOverlap="false"></span></a
        >
      </li>
    </ul>
  </div>
</nav>
