.head h2{
    font-weight: 700;
    text-rendering: optimizeLegibility;
    margin-bottom: -1rem;
    margin-top: 10px;
    background-color: #00cec9;
}
   
.row{
    margin: 0
}


hr{
    margin-top: .5rem;

    margin-bottom: 1rem;
    margin-right: 50px;
    border: 2px solid #00cec9;
}



.slider_card-item.for-hero-talents-slider {
    left: 0;
    margin-top: 15px;
    height: 287px;
    position: relative;
    text-align: left;
    top: 0;
   opacity: 1;
    visibility: visible;
    width: 160px;
}
.slider_card-item:first-child(5) {
    margin-left: 0;
}
.slider_card-item {
    border-radius: 5px;

    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.32);
    display: block;
    margin-left: 14px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 160px;
}


.slider_card-item_content {
    padding: 10px 13px 0;
}

.slider_card-item.for-hero-talents-slider .slider_card-item_photo {
    height: 160px;
    overflow: hidden;
}
.slider_card-item_photo {
    position: relative;
}
.slider_card-item_photo img {
    display: block;
    width: 160px;
    max-height: 230px;
    margin-top: 0px;
}
.slider_card-item_title {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
}
.slider_card-details {
    color: #455065;
    opacity: .6;
    padding-top: 8px;
}
.slider_card-item.for-hero-talents-slider .slider_card-item_more {
    padding: 8px 0 5px;
    position: absolute;
    text-align: center;
}
.slider_card-item_more_wrapper {
    height: 35px;
    margin: 0 0 10px;
    text-align: left;
}
.slider_card-item_more {
    color: #262d3d;
}

.slider_card-item_more {
    bottom: 0;
    font-size: 11px;
    left: 0;
    letter-spacing: 1px;
    padding: 0 32px 50px;
    position: absolute;
    display: flow-root;
    right: 0;
    text-transform: uppercase;
}


 .add-to-cart{
    width: 86px;
    height: 27px;


 }

 .cart-add, .cart-plus, .cart-minus{
    color: #34495e;
 }

span.mat-button-wrapper{
    display: table-caption;
    margin: 0px 15px 10px 0px !important;
    line-height: 0px !important;
    font-size: x-small;
 }
 .slider_card-functions{

    text-align: center;
 }







 /* COSTUM ELEMENTS */




 .product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
  }
  
  .badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
  }
  
  .product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .product-rating {
    padding: 0 20px;
    font-size: 11px;
  }
  
  .product-rating i.grey {
    color: #acacab;
  }
  